
/* Global styles */
* {
  --stripe-color: #000;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;
  --text-color:255, 255, 255;
}
/* Define rays and background animations */
.rays {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
  place-items: flex-start center;
  width: 100%;
  min-height: 900px;
  height: 100vh;
  background: var(--bg);
  position: absolute;
  display: flex;
  place-content: center;
  place-items: center;
  --stripes: repeating-linear-gradient(
    100deg,
    var(--primary-color) 0%,
    var(--primary-color) 7%,
    transparent 10%,
    transparent 12%,
    var(--primary-color) 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(10px) invert(100%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 80%);
  overflow: hidden;
}

.rays::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 250%, 100%;
  animation: smoothBg 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}
.rays,
.rays::after {
  filter: blur(10px) opacity(50%) saturate(200%);
}

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

/* Dark mode switch styles (if applicable) */
/* :has(:checked) {
  --stripe-color: #000;
  --background-start-rgb: 0,0,0;
  --background-end-rgb: 0,0,0;
  --text-color:255, 255, 255;
} */
/* :has(:checked) .rays,
:has(:checked) .rays::after {
  filter: blur(10px) opacity(50%) saturate(200%);
} */

/* Additional styling can be added as needed */
/* Responsive Design */
@media (max-width: 768px) {
  .rays {
    background-size: 400%, 250%;
  }
  .rays::after {
    background-size: 350%, 150%;
  }
}

@media (max-width: 480px) {
  .rays {
    background-size: 500%, 300%;
  }
  .rays::after {
    background-size: 450%, 200%;
  }
}